## <strong>**Madeline Martine - Code for IHA Data Analyst Challenge**</strong>

In [241]:
import pandas as pd
import numpy as np

# Load data into dataframes

measures_def = pd.read_csv("measure_list_my2022.csv")
measures = pd.read_csv("awards_challenge_my2022.csv")
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better
0,Glee Healthcare Group,1827866,2022,CHLAMSCR,2912.0,4689.0,62.1028,NaN,True
1,Succeeds Medical Group,4032891,2022,CHLAMSCR,47.0,71.0,66.1972,NaN,True
2,Achievements Health Center,2916878,2022,CHLAMSCR,77.0,190.0,40.5263,NaN,True
3,Timely Medical Group,4235662,2022,CHLAMSCR,779.0,1195.0,65.1883,NaN,True
4,Agility Medical Center,9735291,2022,HBD9TR,275.0,1131.0,24.3148,NaN,False
...,...,...,...,...,...,...,...,...,...
4892,Topnotch Hospital,7581852,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,375.9000,NaN,False
4893,Rum Raisin Healthcare Group,1702412,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,405.1200,NaN,False
4894,Top-Notch Healthcare Group,1968543,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,380.1300,NaN,False
4895,Supportive Healthcare Group,1195231,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,261.2900,NaN,False
4896,Wittier Medical Organization,7602530,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,270.1600,NaN,False

## <strong>**Ensure all rates have the same directionality such that higher rates represent better performance in the measure.**</strong>

In [242]:
# Want to find 'inverse' of rates where higher_is_better is FALSE (excluding Cost domain) by subtracting rate from 100%

measures['rate'], measures['higher_is_better'] = zip(*measures.apply(lambda row: (100 - row['rate'], True) 
                                                                     if not row['higher_is_better'] 
                                                                     and row['measure_code'] != 'TCOC_250K_GEO_RISKADJ' 
                                                                     else (row['rate'], row['higher_is_better']), axis=1))

measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better
0,Glee Healthcare Group,1827866,2022,CHLAMSCR,2912.0,4689.0,62.1028,NaN,True
1,Succeeds Medical Group,4032891,2022,CHLAMSCR,47.0,71.0,66.1972,NaN,True
2,Achievements Health Center,2916878,2022,CHLAMSCR,77.0,190.0,40.5263,NaN,True
3,Timely Medical Group,4235662,2022,CHLAMSCR,779.0,1195.0,65.1883,NaN,True
4,Agility Medical Center,9735291,2022,HBD9TR,275.0,1131.0,75.6852,NaN,True
...,...,...,...,...,...,...,...,...,...
4892,Topnotch Hospital,7581852,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,375.9000,NaN,False
4893,Rum Raisin Healthcare Group,1702412,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,405.1200,NaN,False
4894,Top-Notch Healthcare Group,1968543,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,380.1300,NaN,False
4895,Supportive Healthcare Group,1195231,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,261.2900,NaN,False
4896,Wittier Medical Organization,7602530,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,270.1600,NaN,False

In [243]:
# I will join the two csv files so that I know the domain for each row of data

measures = measures.merge(measures_def[['measure_code', 'domain']], on='measure_code', how='left')
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain
0,Glee Healthcare Group,1827866,2022,CHLAMSCR,2912.0,4689.0,62.1028,NaN,True,Clinical
1,Succeeds Medical Group,4032891,2022,CHLAMSCR,47.0,71.0,66.1972,NaN,True,Clinical
2,Achievements Health Center,2916878,2022,CHLAMSCR,77.0,190.0,40.5263,NaN,True,Clinical
3,Timely Medical Group,4235662,2022,CHLAMSCR,779.0,1195.0,65.1883,NaN,True,Clinical
4,Agility Medical Center,9735291,2022,HBD9TR,275.0,1131.0,75.6852,NaN,True,Clinical
...,...,...,...,...,...,...,...,...,...,...
4892,Topnotch Hospital,7581852,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,375.9000,NaN,False,Cost
4893,Rum Raisin Healthcare Group,1702412,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,405.1200,NaN,False,Cost
4894,Top-Notch Healthcare Group,1968543,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,380.1300,NaN,False,Cost
4895,Supportive Healthcare Group,1195231,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,261.2900,NaN,False,Cost
4896,Wittier Medical Organization,7602530,2022,TCOC_250K_GEO_RISKADJ,NaN,NaN,270.1600,NaN,False,Cost

## <strong>**Now I want to flag INVALID data for the following:**
- Clinical quality measures with denominators < 30 
- Patient experience measures with reliability < .70</strong>

In [244]:
def determine_validity(row):
    '''Flags rows as INVALID if measure is missing, if denominator for Clinical measures is empty or <30, or if Patient Experience measures are empty or <.70'''
    if ((row['domain'] == 'Clinical' and (pd.isna(row['denominator']) or row['denominator'] < 30)) or (row['domain'] == 'Patient Experience' and (pd.isna(row['reliability']) or row['reliability'] < 0.7))):
        return 'INVALID'
    else:
        return 'VALID'

measures['validity'] = measures.apply(determine_validity, axis=1)
measures = measures.sort_values(by='org_name')
measures = measures.reset_index(drop=True)
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity
0,Abound Medical Group,2476500,2022,ACCESS3,NaN,NaN,69.3178,0.77,True,Patient Experience,VALID
1,Abound Medical Group,2476500,2022,AABOVR,215.0,356.0,60.3933,NaN,True,Clinical,VALID
2,Abound Medical Group,2476500,2022,HBD9TR,815.0,3731.0,78.1560,NaN,True,Clinical,VALID
3,Abound Medical Group,2476500,2022,PDCS,5327.0,7218.0,73.8016,NaN,True,Clinical,VALID
4,Abound Medical Group,2476500,2022,CCO,2465.0,11251.0,78.0908,NaN,True,Clinical,VALID
...,...,...,...,...,...,...,...,...,...,...,...
4892,Zippy Medical Center,9423477,2022,ACCESS3,NaN,NaN,51.3633,0.79,True,Patient Experience,VALID
4893,Zippy Medical Center,9423477,2022,BCS5274,1130.0,1450.0,77.9310,NaN,True,Clinical,VALID
4894,Zippy Medical Center,9423477,2022,BPD,703.0,982.0,71.5886,NaN,True,Clinical,VALID
4895,Zippy Medical Center,9423477,2022,SPC1,110.0,136.0,80.8824,NaN,True,Clinical,VALID
4896,Zippy Medical Center,9423477,2022,COORDINATE3,NaN,NaN,58.6328,0.76,True,Patient Experience,VALID

## <strong>**Now I want to flag INVALID data for the following:**
- Missing measures</strong>

In [245]:
# Adding a row for missing measure_code values for each org_name and flagging the missing measure as INVALID

org_names = measures['org_name'].unique()
measure_codes = measures_def['measure_code'].unique()

# Create a template DataFrame with all possible combinations of organization names and measure codes
template = pd.DataFrame([(org, code) for org in org_names for code in measure_codes], columns=['org_name', 'measure_code'])

# Merge the template DataFrame with the 'measures' DataFrame based on 'org_name' and 'measure_code'
merged = template.merge(measures, on=['org_name', 'measure_code'], how='left')

# Find the rows where 'po_id' is missing (NaN) to find rows that were added
missing_rows = merged[merged['po_id'].isna()]

# Set the 'validity' column for missing rows to 'INVALID'
missing_rows.loc[:, 'validity'] = 'INVALID'

# Set the 'domain' and 'po_id' column for missing rows based on matching 'measure_code' values
missing_rows.loc[:, 'domain'] = missing_rows.apply(lambda row: measures[(measures['measure_code'] == row['measure_code'])]['domain'].values[0], axis=1)
missing_rows.loc[:, 'po_id'] = missing_rows.apply(lambda row: measures[(measures['org_name'] == row['org_name'])]['po_id'].values[0], axis=1)

# Concatenate the 'measures' DataFrame with the missing rows
measures = pd.concat([measures, missing_rows], ignore_index=True)
measures = measures.sort_values(by='org_name')
measures = measures.reset_index(drop=True)
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity
0,Abound Medical Group,2476500.0,2022.0,ACCESS3,NaN,NaN,69.3178,0.77,True,Patient Experience,VALID
1,Abound Medical Group,2476500.0,2022.0,CBP_1885_20,5173.0,7992.0,64.7272,NaN,True,Clinical,VALID
2,Abound Medical Group,2476500.0,2022.0,CHLAMSCR,1080.0,1659.0,65.0995,NaN,True,Clinical,VALID
3,Abound Medical Group,2476500.0,2022.0,COORDINATE3,NaN,NaN,64.7573,0.73,True,Patient Experience,VALID
4,Abound Medical Group,2476500.0,2022.0,AMROV64,463.0,554.0,83.5740,NaN,True,Clinical,VALID
...,...,...,...,...,...,...,...,...,...,...,...
5341,Zippy Medical Center,9423477.0,2022.0,SPD1,468.0,651.0,71.8894,NaN,True,Clinical,VALID
5342,Zippy Medical Center,9423477.0,2022.0,PDCS,1204.0,1643.0,73.2806,NaN,True,Clinical,VALID
5343,Zippy Medical Center,9423477.0,2022.0,CWPOVR,87.0,295.0,29.4915,NaN,True,Clinical,VALID
5344,Zippy Medical Center,9423477.0,2022.0,CCS,1854.0,2612.0,70.9801,NaN,True,Clinical,VALID
5345,Zippy Medical Center,9423477.0,2022.0,AABOVR,93.0,210.0,44.2857,NaN,True,Clinical,VALID

## <strong>**Calculate the Global Measure Average Rate, Minimum, and Maximum values for each individual measure using only VALID rates from 2022**</strong>

In [246]:
# Filtering dataset for VALID data only
valid_measures = measures[measures['validity'] == 'VALID']

# Now I will calculate the Global Measure Average Rate, Minimum, and Maximum for each measure
results = valid_measures.groupby('measure_code')['rate'].agg(['mean', 'min', 'max'])
results.columns = ['average rate', 'minimum', 'maximum']
results

                       average rate   minimum    maximum
measure_code
AABOVR                    65.379883   19.3548    99.4962
ACCESS3                   54.203185   35.4568    69.3178
AMROV64                   81.950581   36.8421    97.1429
BCS5274                   73.795861   33.3333    86.8113
BPD                       53.668098    0.0000    87.3950
CBP_1885_20               52.605326    0.0000    83.8921
CCO                       80.502431   57.8066    97.0558
CCS                       70.232042   37.2163    93.1034
CHLAMSCR                  53.627437   25.4386    82.9268
CISCOMBO10                54.793351    7.1429    80.3571
COB                       92.064843   82.9268   100.0000
COL5075                   57.066551   17.7419    81.7073
COORDINATE3               63.026746   49.0729    75.5563
CWPOVR                    45.971233    6.0606    91.7991
DOCALLCARE                72.248224   54.6611    87.4990
EED                       51.692720   15.1899    81.4206
HBD8TR                    58.026913    3.9106    77.8571
HBD9TR                    67.540724    5.0279    85.0103
IMACOMBO2                 39.629929    1.9608    76.6365
MDINTERACT3               81.220447   69.5366    90.1050
OFCSTAFF                  74.398129   64.0584    83.4510
PDCA                      76.346755   59.2105    91.4286
PDCD                      74.045926   56.5217    94.8718
PDCS                      71.738674   43.7363    87.8788
SPC1                      82.979141   31.2500   100.0000
SPD1                      70.010213   49.6552    86.6667
TCOC_250K_GEO_RISKADJ    364.909468  158.6600  1462.9700

## <strong>**For each PO and its measures from 2022, calculate the difference between their valid measure rate and the Global PO Measure Average Rate**</strong>

In [247]:
# Making the same changes to both measures and valid_measures so both have rate differences

measures = measures.merge(results, on='measure_code', how='left')
valid_measures = valid_measures.merge(results, on='measure_code', how='left')

def calculate_difference(row):
    '''Calculates difference between rate and global average rate'''
    if row['validity'] == 'VALID':
        return row['rate'] - row['average rate']
    else:
        return None

# Create new column 'difference from measure avg' and calculate
measures['difference from measure avg'] = measures.apply(calculate_difference, axis=1)
valid_measures['difference from measure avg'] = valid_measures.apply(calculate_difference, axis=1)
valid_measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity,average rate,minimum,maximum,difference from measure avg
0,Abound Medical Group,2476500.0,2022.0,ACCESS3,NaN,NaN,69.3178,0.77,True,Patient Experience,VALID,54.203185,35.4568,69.3178,15.114615
1,Abound Medical Group,2476500.0,2022.0,CBP_1885_20,5173.0,7992.0,64.7272,NaN,True,Clinical,VALID,52.605326,0.0000,83.8921,12.121874
2,Abound Medical Group,2476500.0,2022.0,CHLAMSCR,1080.0,1659.0,65.0995,NaN,True,Clinical,VALID,53.627437,25.4386,82.9268,11.472063
3,Abound Medical Group,2476500.0,2022.0,COORDINATE3,NaN,NaN,64.7573,0.73,True,Patient Experience,VALID,63.026746,49.0729,75.5563,1.730554
4,Abound Medical Group,2476500.0,2022.0,AMROV64,463.0,554.0,83.5740,NaN,True,Clinical,VALID,81.950581,36.8421,97.1429,1.623419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4215,Zippy Medical Center,9423477.0,2022.0,SPD1,468.0,651.0,71.8894,NaN,True,Clinical,VALID,70.010213,49.6552,86.6667,1.879187
4216,Zippy Medical Center,9423477.0,2022.0,PDCS,1204.0,1643.0,73.2806,NaN,True,Clinical,VALID,71.738674,43.7363,87.8788,1.541926
4217,Zippy Medical Center,9423477.0,2022.0,CWPOVR,87.0,295.0,29.4915,NaN,True,Clinical,VALID,45.971233,6.0606,91.7991,-16.479733
4218,Zippy Medical Center,9423477.0,2022.0,CCS,1854.0,2612.0,70.9801,NaN,True,Clinical,VALID,70.232042,37.2163,93.1034,0.748058
4219,Zippy Medical Center,9423477.0,2022.0,AABOVR,93.0,210.0,44.2857,NaN,True,Clinical,VALID,65.379883,19.3548,99.4962,-21.094183

## <strong>**Calculate the POÊ¼s Average Measure Rate Difference for each domainÊ¼s measure set (clinical quality and patient experience) from the rate differences**</strong>

In [248]:
# Filter the DataFrame 'valid_measures' to select rows where 'domain' is either 'Clinical' or 'Patient Experience'
filtered_df = valid_measures[valid_measures['domain'].isin(['Clinical', 'Patient Experience'])]

# Group the filtered DataFrame by 'org_name' and 'domain', then calculate the mean of 'difference from measure avg'
grouped_df = filtered_df.groupby(['org_name', 'domain'])['difference from measure avg'].mean().reset_index()

# Pivot the 'grouped_df' to have 'org_name' as the index and 'domain' values as separate columns
pivot_df = grouped_df.pivot(index='org_name', columns='domain', values='difference from measure avg').reset_index()
pivot_df.rename(columns={'Clinical': 'Clinical avg measure rate diff', 'Patient Experience': 'Patient Experience avg measure rate diff'}, inplace=True)
pivot_df = pivot_df.rename_axis(None, axis=1)
pivot_df

,org_name,Clinical avg measure rate diff,Patient Experience avg measure rate diff
0,Abound Medical Group,3.221389,3.217914
1,Abundance Hospital,7.179613,2.347994
2,Abundant Medical Group,10.372660,-5.530046
3,Accessible Medical Center,-11.622055,NaN
4,Acclaim Medical Organization,8.148199,2.768134
...,...,...,...
178,World-Famous Health Center,-9.093244,NaN
179,Worth-While Medical Organization,4.405227,-0.722086
180,Worthwhile Medical Center,1.675627,0.964374
181,Youthful Medical Organization,8.860056,-3.796066
182,Zippy Medical Center,0.244994,-2.809106

In [249]:
# Merge everything with measures dataframe

measures = measures.merge(pivot_df, on='org_name', how='left')
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity,average rate,minimum,maximum,difference from measure avg,Clinical avg measure rate diff,Patient Experience avg measure rate diff
0,Abound Medical Group,2476500.0,2022.0,ACCESS3,NaN,NaN,69.3178,0.77,True,Patient Experience,VALID,54.203185,35.4568,69.3178,15.114615,3.221389,3.217914
1,Abound Medical Group,2476500.0,2022.0,CBP_1885_20,5173.0,7992.0,64.7272,NaN,True,Clinical,VALID,52.605326,0.0000,83.8921,12.121874,3.221389,3.217914
2,Abound Medical Group,2476500.0,2022.0,CHLAMSCR,1080.0,1659.0,65.0995,NaN,True,Clinical,VALID,53.627437,25.4386,82.9268,11.472063,3.221389,3.217914
3,Abound Medical Group,2476500.0,2022.0,COORDINATE3,NaN,NaN,64.7573,0.73,True,Patient Experience,VALID,63.026746,49.0729,75.5563,1.730554,3.221389,3.217914
4,Abound Medical Group,2476500.0,2022.0,AMROV64,463.0,554.0,83.5740,NaN,True,Clinical,VALID,81.950581,36.8421,97.1429,1.623419,3.221389,3.217914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5341,Zippy Medical Center,9423477.0,2022.0,SPD1,468.0,651.0,71.8894,NaN,True,Clinical,VALID,70.010213,49.6552,86.6667,1.879187,0.244994,-2.809106
5342,Zippy Medical Center,9423477.0,2022.0,PDCS,1204.0,1643.0,73.2806,NaN,True,Clinical,VALID,71.738674,43.7363,87.8788,1.541926,0.244994,-2.809106
5343,Zippy Medical Center,9423477.0,2022.0,CWPOVR,87.0,295.0,29.4915,NaN,True,Clinical,VALID,45.971233,6.0606,91.7991,-16.479733,0.244994,-2.809106
5344,Zippy Medical Center,9423477.0,2022.0,CCS,1854.0,2612.0,70.9801,NaN,True,Clinical,VALID,70.232042,37.2163,93.1034,0.748058,0.244994,-2.809106
5345,Zippy Medical Center,9423477.0,2022.0,AABOVR,93.0,210.0,44.2857,NaN,True,Clinical,VALID,65.379883,19.3548,99.4962,-21.094183,0.244994,-2.809106

## <strong>**If more than half of the POÊ¼s measures in a domainÊ¼s measure set is INVALID in 2022, then the PO is not eligible for the Adjusted Half-Scale Rule imputation or for the Excellence in Healthcare Award**</strong>

In [250]:
# Half of the clinical measures = 21/2 = 10.5 rounded up = 11
# Half of the patient experience measures = 5/2 = 2.5 rounded up = 3

# Group the 'measures' DataFrame by 'org_name' and apply a function to calculate counts
grouped = measures.groupby('org_name').apply(lambda x: pd.Series({
    'Clinical Invalid Count': ((x['domain'] == 'Clinical') & (x['validity'] == 'INVALID')).sum(),
    'Patient Experience Invalid Count': ((x['domain'] == 'Patient Experience') & (x['validity'] == 'INVALID')).sum()}))

# Calculate 'Eligibility' based on the counts and apply the condition
grouped['Eligibility'] = grouped.apply(lambda row: 'NOT ELIGIBLE' if row['Clinical Invalid Count'] > 11 or row['Patient Experience Invalid Count'] > 3 else 'ELIGIBLE', axis=1)
grouped = grouped.reset_index()
grouped

,org_name,Clinical Invalid Count,Patient Experience Invalid Count,Eligibility
0,Abound Medical Group,0,0,ELIGIBLE
1,Abounds Medical Center,21,5,NOT ELIGIBLE
2,Abundance Hospital,0,0,ELIGIBLE
3,Abundant Medical Group,0,0,ELIGIBLE
4,Accessible Medical Center,4,5,NOT ELIGIBLE
...,...,...,...,...
193,Worth-While Medical Organization,0,0,ELIGIBLE
194,Worthiness Medical Center,21,5,NOT ELIGIBLE
195,Worthwhile Medical Center,0,0,ELIGIBLE
196,Youthful Medical Organization,0,0,ELIGIBLE
197,Zippy Medical Center,0,0,ELIGIBLE

In [251]:
# Save non-empty cost rates for later, regardless of eligibility

costs = measures[(measures['domain'] == 'Cost') & measures['rate'].notna()]
costs = costs.reset_index(drop=True)
costs

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity,average rate,minimum,maximum,difference from measure avg,Clinical avg measure rate diff,Patient Experience avg measure rate diff
0,Abound Medical Group,2476500.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,357.18,NaN,False,Cost,VALID,364.909468,158.66,1462.97,-7.729468,3.221389,3.217914
1,Abounds Medical Center,5399972.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,248.84,NaN,False,Cost,VALID,364.909468,158.66,1462.97,-116.069468,NaN,NaN
2,Abundance Hospital,2763321.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,377.48,NaN,False,Cost,VALID,364.909468,158.66,1462.97,12.570532,7.179613,2.347994
3,Abundant Medical Group,7573566.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,402.00,NaN,False,Cost,VALID,364.909468,158.66,1462.97,37.090532,10.372660,-5.530046
4,Accessible Medical Center,9285557.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,318.04,NaN,False,Cost,VALID,364.909468,158.66,1462.97,-46.869468,-11.622055,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,Worth-While Medical Organization,2403995.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,405.03,NaN,False,Cost,VALID,364.909468,158.66,1462.97,40.120532,4.405227,-0.722086
184,Worthiness Medical Center,9815610.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,319.97,NaN,False,Cost,VALID,364.909468,158.66,1462.97,-44.939468,NaN,NaN
185,Worthwhile Medical Center,9913780.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,341.65,NaN,False,Cost,VALID,364.909468,158.66,1462.97,-23.259468,1.675627,0.964374
186,Youthful Medical Organization,3386104.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,425.20,NaN,False,Cost,VALID,364.909468,158.66,1462.97,60.290532,8.860056,-3.796066
187,Zippy Medical Center,9423477.0,2022.0,TCOC_250K_GEO_RISKADJ,NaN,NaN,386.88,NaN,False,Cost,VALID,364.909468,158.66,1462.97,21.970532,0.244994,-2.809106

In [252]:
# Filter out POs that are not eligible for the Adjusted Half-Scale Rule imputation or for the Excellence in Healthcare Award

measures = measures[measures['org_name'].isin(grouped[grouped['Eligibility'] == 'ELIGIBLE']['org_name'])]
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity,average rate,minimum,maximum,difference from measure avg,Clinical avg measure rate diff,Patient Experience avg measure rate diff
0,Abound Medical Group,2476500.0,2022.0,ACCESS3,NaN,NaN,69.3178,0.77,True,Patient Experience,VALID,54.203185,35.4568,69.3178,15.114615,3.221389,3.217914
1,Abound Medical Group,2476500.0,2022.0,CBP_1885_20,5173.0,7992.0,64.7272,NaN,True,Clinical,VALID,52.605326,0.0000,83.8921,12.121874,3.221389,3.217914
2,Abound Medical Group,2476500.0,2022.0,CHLAMSCR,1080.0,1659.0,65.0995,NaN,True,Clinical,VALID,53.627437,25.4386,82.9268,11.472063,3.221389,3.217914
3,Abound Medical Group,2476500.0,2022.0,COORDINATE3,NaN,NaN,64.7573,0.73,True,Patient Experience,VALID,63.026746,49.0729,75.5563,1.730554,3.221389,3.217914
4,Abound Medical Group,2476500.0,2022.0,AMROV64,463.0,554.0,83.5740,NaN,True,Clinical,VALID,81.950581,36.8421,97.1429,1.623419,3.221389,3.217914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5341,Zippy Medical Center,9423477.0,2022.0,SPD1,468.0,651.0,71.8894,NaN,True,Clinical,VALID,70.010213,49.6552,86.6667,1.879187,0.244994,-2.809106
5342,Zippy Medical Center,9423477.0,2022.0,PDCS,1204.0,1643.0,73.2806,NaN,True,Clinical,VALID,71.738674,43.7363,87.8788,1.541926,0.244994,-2.809106
5343,Zippy Medical Center,9423477.0,2022.0,CWPOVR,87.0,295.0,29.4915,NaN,True,Clinical,VALID,45.971233,6.0606,91.7991,-16.479733,0.244994,-2.809106
5344,Zippy Medical Center,9423477.0,2022.0,CCS,1854.0,2612.0,70.9801,NaN,True,Clinical,VALID,70.232042,37.2163,93.1034,0.748058,0.244994,-2.809106
5345,Zippy Medical Center,9423477.0,2022.0,AABOVR,93.0,210.0,44.2857,NaN,True,Clinical,VALID,65.379883,19.3548,99.4962,-21.094183,0.244994,-2.809106

## <strong>**Calculate the imputed rate for invalid or missing measures for each PO using the POÊ¼s Average Measure Rate Difference:**</strong>

In [253]:
def impute_rate(row):
    '''Calculates imputed rate for INVALID measures'''
    if row['validity'] == 'INVALID':
        if row['domain'] == 'Clinical':
            new_rate = row['average rate'] + row['Clinical avg measure rate diff']
        elif row['domain'] == 'Patient Experience':
            new_rate = row['average rate'] + row['Patient Experience avg measure rate diff']
        else:
            new_rate = row['rate']
        
        # Apply minimum and maximum constraints
        new_rate = min(max(new_rate, row['minimum']), row['maximum'])
    else:
        new_rate = row['rate']

    return new_rate

measures.loc[:, 'rate'] = measures.apply(impute_rate, axis=1)
measures

,org_name,po_id,year,measure_code,numerator,denominator,rate,reliability,higher_is_better,domain,validity,average rate,minimum,maximum,difference from measure avg,Clinical avg measure rate diff,Patient Experience avg measure rate diff
0,Abound Medical Group,2476500.0,2022.0,ACCESS3,NaN,NaN,69.3178,0.77,True,Patient Experience,VALID,54.203185,35.4568,69.3178,15.114615,3.221389,3.217914
1,Abound Medical Group,2476500.0,2022.0,CBP_1885_20,5173.0,7992.0,64.7272,NaN,True,Clinical,VALID,52.605326,0.0000,83.8921,12.121874,3.221389,3.217914
2,Abound Medical Group,2476500.0,2022.0,CHLAMSCR,1080.0,1659.0,65.0995,NaN,True,Clinical,VALID,53.627437,25.4386,82.9268,11.472063,3.221389,3.217914
3,Abound Medical Group,2476500.0,2022.0,COORDINATE3,NaN,NaN,64.7573,0.73,True,Patient Experience,VALID,63.026746,49.0729,75.5563,1.730554,3.221389,3.217914
4,Abound Medical Group,2476500.0,2022.0,AMROV64,463.0,554.0,83.5740,NaN,True,Clinical,VALID,81.950581,36.8421,97.1429,1.623419,3.221389,3.217914
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5341,Zippy Medical Center,9423477.0,2022.0,SPD1,468.0,651.0,71.8894,NaN,True,Clinical,VALID,70.010213,49.6552,86.6667,1.879187,0.244994,-2.809106
5342,Zippy Medical Center,9423477.0,2022.0,PDCS,1204.0,1643.0,73.2806,NaN,True,Clinical,VALID,71.738674,43.7363,87.8788,1.541926,0.244994,-2.809106
5343,Zippy Medical Center,9423477.0,2022.0,CWPOVR,87.0,295.0,29.4915,NaN,True,Clinical,VALID,45.971233,6.0606,91.7991,-16.479733,0.244994,-2.809106
5344,Zippy Medical Center,9423477.0,2022.0,CCS,1854.0,2612.0,70.9801,NaN,True,Clinical,VALID,70.232042,37.2163,93.1034,0.748058,0.244994,-2.809106
5345,Zippy Medical Center,9423477.0,2022.0,AABOVR,93.0,210.0,44.2857,NaN,True,Clinical,VALID,65.379883,19.3548,99.4962,-21.094183,0.244994,-2.809106

## <strong>**Calculate the POsÊ¼ Average Domain Measure Rate across each domainÊ¼s measure set (clinical quality and patient experience).**</strong>

In [254]:
# Filter the 'measures' DataFrame to select only rows where 'domain' is 'Clinical' or 'Patient Experience'
composite_scores = measures[measures['domain'].isin(['Clinical', 'Patient Experience'])]

# Group the filtered DataFrame by 'org_name' and 'domain' and calculate the mean of the 'rate'
composite_scores = composite_scores.groupby(['org_name', 'domain'])['rate'].mean().reset_index()

# Pivot the 'composite_scores' DataFrame with 'org_name' as the index and 'domain' as separate columns
composite_scores = composite_scores.pivot(index='org_name', columns='domain', values='rate').reset_index()
composite_scores.rename(columns={'Clinical': 'Clinical Quality Achievement Score', 'Patient Experience': 'Patient Experience Achievement Score'}, inplace=True)
composite_scores = composite_scores.rename_axis(None, axis=1)
composite_scores

,org_name,Clinical Quality Achievement Score,Patient Experience Achievement Score
0,Abound Medical Group,68.634181,72.23726
1,Abundance Hospital,72.592405,71.36734
2,Abundant Medical Group,75.785452,63.48930
3,Acclaim Medical Organization,73.560990,71.78748
4,Accolade Medical Group,76.077362,66.25252
...,...,...,...
133,Wonder Medical Group,75.482686,73.25306
134,Worth-While Medical Organization,69.818019,68.29726
135,Worthwhile Medical Center,67.088419,69.98372
136,Youthful Medical Organization,74.272848,65.22328
137,Zippy Medical Center,65.657786,66.21024

## <strong>**Using the POs Clinical Quality Achievement Scores and Patient Experience Achievement Scores, find the Median Achievement Scores for the clinical quality and the patient experience domains**</strong>

In [255]:
median_clinical_score = composite_scores['Clinical Quality Achievement Score'].median()
median_patient_experience_score = composite_scores['Patient Experience Achievement Score'].median()

print(f"Median Clinical Quality Achievement Score: {median_clinical_score}")
print(f"Median Patient Experience Achievement Score: {median_patient_experience_score}")

Median Clinical Quality Achievement Score: 68.65393571428572
Median Patient Experience Achievement Score: 69.26353

## <strong>**Calculate the median for total cost of care.**</strong>

In [256]:
median_cost = costs['rate'].median()
print(f"Median Total Cost of Care: ${median_cost}")

Median Total Cost of Care: $357.685

In [257]:
# Merge costs for each PO into composite scores dataframe to consolidate

composite_scores = composite_scores.merge(costs[['org_name', 'rate']], on='org_name', how='left')
composite_scores = composite_scores.rename(columns={'rate': 'Total Cost of Care'})
composite_scores

,org_name,Clinical Quality Achievement Score,Patient Experience Achievement Score,Total Cost of Care
0,Abound Medical Group,68.634181,72.23726,357.18
1,Abundance Hospital,72.592405,71.36734,377.48
2,Abundant Medical Group,75.785452,63.48930,402.00
3,Acclaim Medical Organization,73.560990,71.78748,436.86
4,Accolade Medical Group,76.077362,66.25252,421.37
...,...,...,...,...
133,Wonder Medical Group,75.482686,73.25306,378.75
134,Worth-While Medical Organization,69.818019,68.29726,405.03
135,Worthwhile Medical Center,67.088419,69.98372,341.65
136,Youthful Medical Organization,74.272848,65.22328,425.20
137,Zippy Medical Center,65.657786,66.21024,386.88

## <strong>**Winners of the Excellence in Healthcare award have Achievement Scores that are higher than or equal to the Median Achievement Scores for clinical quality and patient experience domains, and less than or equal to the median for the total cost of care domain.**</strong>

In [258]:
winners = composite_scores[
    (composite_scores['Clinical Quality Achievement Score'] >= median_clinical_score) &
    (composite_scores['Patient Experience Achievement Score'] >= median_patient_experience_score) &
    (composite_scores['Total Cost of Care'] <= median_cost)]
winners = winners.reset_index(drop=True)
winners

,org_name,Clinical Quality Achievement Score,Patient Experience Achievement Score,Total Cost of Care
0,Afford Healthcare Group,73.221286,72.57166,312.59
1,Bond Medical Organization,75.540067,72.70386,314.62
2,Butter Pecan Hospital,69.522052,70.45854,347.19
3,Energize Health Center,72.571643,73.30802,355.57
4,Kasheng Health Center,70.818210,71.55708,348.53
5,Newton Hospital,70.825937,74.07844,306.34
6,Praline Pecan Health Center,74.092491,72.62518,302.41
7,Principled Healthcare Group,74.364364,73.22144,331.39
8,Steady Health Center,69.803857,71.57538,335.63
9,Superb Healthcare Group,71.906010,73.62566,311.42
10,Swift Medical Organization,69.571424,73.54394,353.24
11,Timely Medical Group,72.614133,69.30394,348.77
12,Tin Roof Medical Group,72.632760,74.01240,329.50
13,Upscale Medical Organization,73.212905,72.20520,329.41
14,Wisely Medical Center,70.507641,69.70710,239.70

In [259]:
# Save results to text file
winners.to_csv('winners.txt', sep='\t', index=False)